@using AgileConfig.BlazorUI.Helpers
<Modal Visible=@Visible Width="@("61.8%")"
       Title=@($"环境比对")
       OnCancel=@Cancel>
    <Row>
        <Col Span="8">
        <Title Level="2">@($"当前环境{Para.LeftENV}")</Title>
        </Col>
        <Col Span="8">
        <Title Level="3">选择比对环境</Title>
        <RadioGroup TValue="string" @bind-Value="_rightENV" ButtonStyle="@RadioButtonStyle.Solid" OnChange=@LoadRightDataAsync>
                @foreach (var s in Para.OtherENVArray)
                {
                <Radio RadioButton Value="@s">@s</Radio>
                }
        </RadioGroup>
        <Divider />
        </Col>
        <Col Span="8">差异</Col>


        <Col Span="8">
        <TextArea AutoSize @bind-value="_leftString" OnBlur=@(e=>JsonDataHelper.SerializeJson(ref _leftString)) />
        </Col>
        <Col Span="8">
        <TextArea AutoSize @bind-value="_rightString" OnBlur=@(e=>JsonDataHelper.SerializeJson(ref _rightString)) />
        </Col>
        <Col Span="8">
        <TextArea AutoSize @bind-value="_change"/>
        </Col>
    </Row>
</Modal>
