@using AgileConfig.UIApiClient
@using AntDesign.Select;
<Modal Title="@Title" Visible="@Visible" OnOk="@OnOkAsync" OnCancel=@Cancel OkButtonProps="@OkButtonProps">
    <Form @ref=@_form Model="CurrentObject" Layout=@FormLayout.Horizontal LabelColSpan="6" WrapperColSpan="18" Size=@AntSizeLDSType.Large>
        <FormItem Label="发布权">
            <Select @bind-Values=@(PublishConfigPermissionUsers)
                    Disabled=@HasAuthPermission
                    LabelName=@nameof(UserVM.UserName)
                    ValueName=@nameof(UserVM.Id)
                    TItem="@UserVM"
                    TItemValue="string"
                    Mode="multiple"
                    DataSource=@_userAdminOptions
                    Placeholder="选择一个管理员">
                <LabelTemplate Context="item">
                    <LabelTemplateItem TItem="UserVM" TItemValue="string" Style="margin-right: 4px;" RemoveIconStyle="margin-top: 1px; display: inline-block;">
                        <LabelTemplateItemContent Context="c">
                            <span>@(item.UserName+"-"+item.Team)</span>
                        </LabelTemplateItemContent>
                    </LabelTemplateItem>
                </LabelTemplate>
            </Select>
        </FormItem>
        <FormItem Label="修改权">
            <Select @bind-Values=@(EditConfigPermissionUsers)
                    Disabled=@HasAuthPermission
                    LabelName=@nameof(UserVM.UserName)
                    ValueName=@nameof(UserVM.Id)
                    TItem="@UserVM"
                    TItemValue="string"
                    Mode="multiple"
                    DataSource=@_userAdminOptions
                    Placeholder="选择一个管理员">
                <LabelTemplate Context="item">
                    <LabelTemplateItem TItem="UserVM" TItemValue="string" Style="margin-right: 4px;" RemoveIconStyle="margin-top: 1px; display: inline-block;">
                        <LabelTemplateItemContent Context="c">
                            <span>@(item.UserName+"-"+item.Team)</span>
                        </LabelTemplateItemContent>
                    </LabelTemplateItem>
                </LabelTemplate>
            </Select>

        </FormItem>
    </Form>
</Modal>